 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins , 'serif';
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
body{
    background: url("bg.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.black{
    height: 100vh;
    background-color: black;
    opacity: .75;
}

.container{

position: absolute;
border-radius:5% ;
top: 50%;
left: 50%;
text-align: center;
padding: 40px 32px;
width: 370px;
transform: translate(-50%,-50%);
background: rgba(255,255,255,0.04);
box-shadow: -1px 4px 28px 0px rgba(0,0,0,1);
}
.container p{
    color: white;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
}
.field-user , .field-pass {
        position: relative;
        height: 45px;
        width: 100%;
        display: flex;
        background: rgba(255,255,255,0.94);
      }
      .field-user span , .field-pass span{
        color: #222;
        width: 40px;
        line-height: 45px;
      }

      .field-user input,.field-pass input{
        height: 100%;
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
        color: #222;
        font-size: 16px;
        font-family: 'Poppins',sans-serif;
      }
      .field-pass{
        margin-top: 16px;
      }
      .forgot{
        text-align: left;
        margin: 10px 0;
      }
      .forgot a{
        color: white;
        font-family: 'Poppins',sans-serif;
      }
      .forgot:hover a{
        text-decoration: underline;
      }
      .field-submit input{
        background: #3498db;
        border: 1px solid #2691d9;
        color: white;
        width: 100%;
        padding:5px 0;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 600;
        cursor: pointer;
        
      }
      .field-submit input:hover{
        background: #2691d9;
      }
      .login{
        color: white;
        margin: 20px 0;
        font-family: 'Poppins',sans-serif;
      }
      .links{
        display: flex;
        cursor: pointer;
        color: white;
        margin: 0 0 20px 0;
      }
      .facebook,.instagram{
        width: 100%;
        height: 45px;
        line-height: 45px;
        margin-left: 10px;
      }
      .facebook{
        margin-left: 0;
        background: #4267B2;
        border: 1px solid #3e61a8;
      }
      .instagram{
        background: #E1306C;
        border: 1px solid #df2060;
      }
      .facebook:hover{
        background: #3e61a8;
      }
      .instagram:hover{
        background: #df2060;
      }
      .links i{
        font-size: 17px;
      }
      i span{
        margin-left: 8px;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 16px;
        
      }
      .signup{
        font-size: 15px;
        color: white;
      
      }
      .signup a{
        color: #3498db;
        text-decoration: none;
      }
      .signup a:hover{
        text-decoration: underline;
      }
